.grid {
  display: grid;
  width: 100%;
  padding-top: 15px;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: space-between;
}

.grid.externalLinks {
  grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
  grid-gap: 1rem;
}

.externalLink {
  color: #fff;
  border: 1px solid #fff;
}

.externalLink:hover, .productLink:hover {
  text-decoration: none;
  color: #fff;
}

.externalLinkitem {
  display: grid;
  grid-template-columns: 95px 1fr;
  background: #333;
}

.externalLinkLogo {
  height: 95px;
  color: #333;
  align-content: center;
}

.externalLinkLogo, .externalLiinkDesc {
  padding: .8rem;
}

.externalLinkTitle {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 1.2rem;
  margin-bottom: .3rem;
}

.circle {
  background: #fff;
  border-radius: 50%;
  width: 68px;
  height: 68px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;

}

.externalLinkDesc {
  font-size: 12px;
  margin-bottom: 0;
}


.grid.product {
  padding-bottom: 20px;
  grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
  grid-gap: 1rem;
  padding-left: 15px;
  padding-right: 15px;
}

.grid:last-of-type {
  border-bottom: none;
}

.grid .cardItem {
  width: 100%;
  display: grid;
  grid-template-columns: 100px 1fr;
  background: rgba(0, 0, 0, 0.4);
  border-top-left-radius: 20px;
  margin-bottom: 1rem;
}

.productLink {
  display: block;
  text-decoration: none;
  color: #fff;
}

[data-theme='dark'] .product.grid .cardItem:hover {
  box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.5);
}

.product.grid .cardItem:hover {
  outline: 2px solid #fff;
}

.product.grid {
  border-radius: 5px;
}

.cardItem:hover {
  border-radius: 5px;
}

.productImg {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  height: 100px;
  background: rgba(255, 255, 255, 0.6);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.productImg img {
  display: inline-block;
  margin: 0 auto;
}
.center {
  margin: 0 auto;
}

.product.grid .cardItem .logo {
  height: 150px;
  text-align: center;
  margin-bottom: 10px;
}

.title {
  margin-left: 15px;
  align-content: center;
}

.product.grid .cardItem a .flex .title {
  margin-left: 0;
  padding: 0 10px;
}

.title h3 {
  margin: 0;
  font-size: 1.1rem;
}

.desc {
  font-size: .8rem;
  margin-top: 10px;
  margin-bottom: 0;
}

html[lang='en-US'] .desc {
  line-height: 1.2;
}