.itemContent {
  padding: 10px 10px;
}
.aaItemLink {
  text-decoration: none;
  color: var(--ifm-color-color-gray);
}
.aaItemLink:hover {
  text-decoration: none;
  color: unset;
}

.title {
  font-size: 1.1rem;
  margin-bottom: 5px;
}
.hitname::after {
  content: ' > ';
}
.hitname:last-of-type::after {
  content: '';
}
.hitbreadcrums {
  font-size: .9rem;
  font-weight: 600;
  color: #727272;
}
.content {
  margin-top: 8px;
  font-size: .9rem;
}