.btnprint {
  height: 100%;
  float: right;
  margin-top: 2px;
}

.btnprint button {
  width: fit-content;
  width: -moz-fit-content;
  min-width: 65px;
  height: 26px;
  text-align: center;
  font-size: .7rem;
  font-weight: bold;
  padding: 3px 5px;
  border: none;
  background-color: #A32343;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}

button.printbtn::before {
  content: ' ';
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url('ico-down.svg') no-repeat;
  margin-right: 5px;
}

.btnprint button.feedback__button::before {
  background: none;
  content: none;
}

.feedback__button {
  position: relative;
  display: inline-block;
  font-size: .7rem;
  min-width: 65px;
  background-color: #A32343;
  color: #fff;
  padding: 3px 5px;
  border-radius: 3px;
  cursor: pointer;
  height: 26px;
  margin-left: 5px;
  text-align: center;
}

.feedback__button:hover {
  color: #fff;
  text-decoration: none;
}

@media print {
  .btnprint {
    display: none;
  }
  .btnprint button {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .btnprint {
    display: none;
  }
  .btnprint button {
    display: none;
  }
}