.techspec {
  width: 100%;
  display: block;
}

.techspecSection {
  width: 100%;
  display: flex;
  position: relative;
  border-bottom: 1px solid var(--ifm-color-border);
  padding: 1.5rem 0;
}

.techspecSection.noborder {
  border-bottom: none;
}

.techspecsRowheader {
  float: left;
  width: 22%;
  font-size: 1.1rem;
  color: var(--ifm-color-color-ol-gray);
}

.techspecsRowheader a {
  position: relative;
}

.techspecsBody {
  float: left;
  padding-left: 1.5rem;
  font-weight: 600;
  width: 78%;
}

.techspecsBody sup {
  font-weight: normal;
}

.techspecsBody p {
  margin-bottom: 0;
}

.techspecsBody .row {
  display: flex;
  margin: 0 0;
}

.techspecsBody .row + .row {
  margin-top: 1rem;
}

.techspecsBody ul, .techspecsBody ul li, .techspecsBody ul ul {
  margin: 0
}

.techspecsBody .modelimg {
  background: #fff;
  text-align: center;
  padding: .5rem;
  padding-right: 2rem;
}

/* .techspecsBody .desc {
  padding-left: 2rem;
} */

.techspecsBody .desc ul li svg {
  top: 6px;
}

.techspecsBody .small_c5 {
  width: 50%;
  position: relative;
}

.techspecsBody .small_c5 img {
  display: block;
  border: none;
  margin: 0 auto;
  max-width: 430;
}

.techspecsBody .size {
  display: inline-block;
}

.column {
  float: left;
}

.small_l1 {
  width: 25%;
}
.small_l2 {
  width: 75%;
}
.small_l2 span {
  margin-left: .5rem;
}
.small_l2 ul {
  margin-bottom: 1rem;
}

.small_l2:last-of-type ul {
  margin-bottom: 0;
}

@media (max-width: 1569px) {
  .techspecsBody .small_c5.modelimg {
    width: 35%;
  }
  .techspecsBody .small_c5.desc {
    width: 65%;
  }
}

@media (max-width: 1139px) {
  .techspecsBody .column.small_c5 {
    float: none;
    width: 100%;
  }
  .techspecsBody .small_c5.desc {
    padding-top: 1rem;
  }
}

@media (max-width: 639px) {
  .techspecSection {
    display: flow-root;
  }
  .techspecsRowheader {
    float: none;
    width: 100%;
    margin-bottom: 1rem;
  }
  .techspecsBody {
    float: none;
    width: 100%;
  }
}

@media print {
  .techspecSection {
    padding: .7rem 0;
    border-bottom: .25pt solid var(--ifm-color-border);
  }
  .techspecsRowheader {
    font-size: .9rem;
  }
  .techspec.dimensions .techspecsRowheader {
    width: 10%;
  }
  .techspec.dimensions .techspecsBody {
    width: 90%;
  }
  .techspecsBody, .small_l2 span {
    font-size: .75rem !important;
    align-content: center;
  }
  .techspecsRowheader sup, .techspecsBody sup {
    font-size: .5rem;
  }
  .techspecsBody ul li {
    line-height: 1.8;
  }
  .modelimg img {
    margin: 0 !important;
    max-width: unset !important;
    height: 240px !important;
  }
  .techspecsBody .column.small_c5:first-of-type {
    float: left;
    width: 35%;
  }
  .techspecsBody .column.small_c5:last-of-type {
    float: right;
    width: 65%;
  }
}