.nextStep h4 {
  margin-top: 3rem;
}

.nextStep {
  margin-bottom: 2rem;
}

.nextStepTitle {
  font-weight: 600;
}

.nextStepContent {
  position: relative;
  display: block;
  border: 1px solid var(--ifm-color-border);
  border-bottom: 1px solid var(--ifm-color-border) !important;
  padding: 1rem 3.5rem 1rem 1rem;
  align-items: center;
  text-decoration: none !important;
}

.nextStepContent::after {
  position: absolute;
  right: 1rem;
  content: "→";
  border: 1px solid var(--ifm-color-border);
  border-radius: 100%;
  width: 28px;
  height: 28px;
  text-align: center;
  color: var(--ifm-color-border);
  top: 0;
  bottom: 0;
  margin: auto 0;
}

.nextStepContent + .nextStepContent {
  border-top: none;
}

.nextStepContent:hover {
  background-color: var(--ifm-color-nextstep-background);
}

.nextStepContent:hover p::after {
  color: var(--ifm-color-color-gray);
}

.nextStepContent p {
  margin: 0;
  color: var(--ifm-color-content);
}

@media print {
  .nextStep {
    display: none;
  }
}