.container {
  padding: 2rem;
}

.tableContainerBlock {
  display: block;
}

.tableContainer {
  margin: .5rem 0 2rem 0;
}

.subtitle {
  margin-top: 2.5rem;
}



@media print {
  .tableContainer {
    break-inside: avoid;
  }
}