.filetree {
  border: 1px solid var(--ifm-menu-color);
  border-radius: 5px;
  font-family: 'Noto Sans Coptic';
  padding: 15px 15px 15px 15px;
  margin-top: 20px;
}
.top {
  font-weight: 500;
  font-size: 18px;
  border: none;
  width: 100%;
  display: block;
  text-align: left;
  background: none;
  cursor: pointer;
  margin-left: 10px;
}

.top .type {
  color: var(--ifm-menu-color);
  margin-right: 5px;
  display: inline-block;
  position: relative;
  top: 3px;
}

.filetree ul.fileitem {
  margin-left: 15px;
  list-style-type: none;
  margin-left: 0px;
  padding-left: 28px;
}

ul li.fileitem {
  font-family: 'Noto Sans Coptic';
  font-weight: 500;
  display: list-item;
  padding-bottom: 15px !important;
}

ul li.fileitem:first-of-type {
  margin-top: 15px;
}

ul li.fileitem:last-of-type {
  padding-bottom: 0 !important;
}

ul li[type='file'] span.name, ul li[type='folder'] span.name {
  display: table-cell;
  margin-right: 15px;
  min-width: 240px;
  font-size: 14px;
  font-weight: 600;
}

.ico {
  display: inline-block;
  position: relative;
  top: 3px;
  margin-right: 5px;
}

ul li span.desc {
  font-family: 'Noto Sans KR, Noto Sans, Noto Sans JP';
  display: table-cell;
}

ul li.fileitem ul {
  list-style-type: none;
}

ul li.fileitem ul li [type='file'] span.name {
  min-width: 215px;
}