:root {
  --color-fd-secondary-foreground: #e8e8e8;
}

[data-theme='dark'] {
  --color-fd-secondary-foreground: #333;
}

.fdsteps {
  counter-reset: step;
  border-left: 1px solid var(--ifm-color-color-gray);
  margin-left: 1rem;
  padding-left: 1.75rem;
  position: relative;
}

.fdstep {
  padding-bottom: 1rem;
}

.fdsteps .fdstep:last-of-type {
  padding-bottom: 0;
}

.fdstep:before {
  background-color: var(--ifm-color-primary-lightest);
  color: var(--color-fd-secondary-foreground);
  content: counter(step);
  counter-increment: step;
  border-radius: 9999px;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.25rem;
  display: flex;
  position: absolute;
  left: -1rem;
}