.ok {
  background-color: #7ad600;
}

.fail {
  background-color: #ff4f01;
}

.updating {
  background-color: orange;
}

.normal {
  background-color: #aaa;
}

.status {
  border-radius: 9999px;
  width: .75rem;
  height: .75rem;
  display: inline-block;
}

.deprecate {
  color: var(--ifm-warning-color);
  padding: 0 5px;
  border-radius: 10px;
  background: var(--ifm-color-deprecated-lightest);
  font-weight: bold;
}