.calloutLists ol {
  list-style-type: none;
  counter-reset: callout-counter;
  padding-left: 0;
}
.calloutLists ol > li {
  counter-increment: callout-counter;
  position: relative;
  margin: 25px 0;
}
.calloutLists ol li > * {
  margin-left: 40px;
}
.calloutLists ol li::before {
  content: counter(callout-counter);
  background: var(--ifm-color-cmd);
  width: 26px;
  height: 26px;
  font-weight: bold;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  top: 0px;
}

.calloutLists ol li p svg {
  position: absolute;
  left: 37px;
}

.calloutLists ol li p:has(svg) {
  padding-left: 31px;
}

.calloutLists ol ul {
  list-style-type: disc;
}

.calloutLists ol ul li {
  padding-left: 0;
}
.calloutLists ol ul li p {
  margin-left: 0;
}
.calloutLists ol ul li::before {
  content: none;
}