.admonition {
  margin-bottom: 1em;
}

.admonitionHeading {
  font: var(--ifm-heading-font-weight) var(--ifm-admonition-font-size) /
    var(--ifm-heading-line-height) var(--ifm-heading-font-family);
  text-transform: uppercase;
}

.admonitionHeadingNote {
  font: var(--ifm-heading-font-weight) var(--ifm-admonition-font-size) /
    var(--ifm-heading-line-height) var(--ifm-heading-font-family);
  display: inline;
  position: absolute;
}

/* Heading alone without content (does not handle fragment content) */
.admonitionHeading:not(:last-child) {
  margin-bottom: 0.3rem;
}

.admonitionHeading code {
  text-transform: none;
}

.admonitionIcon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.4em;
}

.admonitionIcon svg {
  display: inline-block;
  height: 1.3em;
  width: 1.3em;
  fill: var(--ifm-alert-foreground-color);
}

.admonitionContent {
  margin-left: 28px;
  position: relative;
}
.admonitionContent > :last-child {
  margin-bottom: 0;
}

@media print {
  .admonitionHeading {
    font-size: .8rem;
    margin-left: 6px;
  }
}